@import "../../styles/variables";

/*@font-face {
    font-family: 'ProximaNova-Semibold';
    src: url('/closer-webinar/src/assets/fonts/ProximaNova-Semibold.otf') format('opentype');
}*/

#assistance-form {

    & > form {
        background: transparent !important;
        padding: 20px;
        margin-top: 20px;
    }

    & {
        text-align: center;
    }

     h3, h4  {
        text-align: center;
        color: white !important;
        font-weight: bold;
    }
    h6, h2  {
        text-align: center;
        color: white !important;
        font-weight: normal;
    }


    h4 {
        font-size: 1.5em;
    }
    
    h3 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 4em;
    }
    

    .rs-btn-primary {
        background: $main-color;
        color: white;
    }

    /*img {
        width: 500px;
        max-width: 100%;
    }*/

    p {
        text-align: center;
        margin: 20px 0px;
        font-weight: 700;
    }

    input {
        padding: 15px 20px;
        border-radius: 200px;
        font-size: 20px;
        background: rgb(255, 255, 255);
        border-color: gray !important;
        color: gray !important;
        max-width: 700px;
        font-weight: 400 !important;
        margin: auto;
        text-align: center;
    }

    button {
        cursor: pointer;
        padding: 15px 20px;
        border-radius: 50px;
        width: 250px;
        max-width: 100%;
        background: white !important;
        color: #001DE8 !important;
        font-family: "Montserrat";
        font-weight: 400;
        text-decoration: none;
        border: none;
        font-weight: bold !important;
        margin: auto;
        margin-bottom: 10px;
        box-shadow: 5px 5px #24416E !important;
    }

    #login{
        cursor: pointer;
        padding: 15px 20px;
        border-radius: 50px;
        width: 250px;
        max-width: 100%;
        background: #001DE8 !important;
        color: white !important;
    }

    @media screen and (max-width: 500px) {
    
         h3, h4 {
            text-align: center;
            font-weight: bold;
        }
        h2, h6 {
            text-align: center;
        }

        h4 {
            font-size: 1em;
        }
        
        h3 {
            font-size: 2em;
            line-height: 1em;
        }
    
        h2 {
            font-size: 2em;
        }

        #centerImage{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width:300px;
        }
        input {
            padding: 15px 20px;
            border-radius: 200px;
            font-size: 15px;
            background: rgb(255, 255, 255);
            border-color: gray !important;
            color: gray !important;
            max-width: 700px;
            font-weight: 400 !important;
            margin: auto;
            text-align: center;
        }

    }
      
}

.webinar-content {
    
    & {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & > div {
        width: 100%;
    }

}
