@import "../../styles/variables";

#register-form {

    & > form {
        background: #001DE8;
        padding: 40px 40px 60px 40px;
        margin-top: 20px;
        border-radius: 50px;
        text-align: left;
    }

    #habbotlogo2 {
       float: right;

        width: 300px;
    }
    #habbotlogo2 {
        float:left;
         width: 300px;
     }

    h1, h2, h3, h4, h5 {
        
        color: #FFFFFF;
        text-align: center;
       // font-weight: 600;
    }  

    h3 {
        font-size: 2.3em;
    }

    h4 {
        font-size: 1.6em;
        font-weight: 600;
        margin-bottom: 20px;
        margin:0;
        padding:0;
        //float: right;
    }
    h5 {
        font-size: 1.2em;
        font-weight: 600;
        margin-bottom: 20px;
        margin:0;
        padding:0;
        text-align: right;
        //float: right;
    }
   

   /* img {
        width: 250px;
        margin: 20px 0px;
        max-width: 100%;
    }*/
    #agenda{
        display: block;
            margin-left: auto;
            margin-right: auto;
    }
    .rs-btn-primary {
        background: white;
        color: #004084;
        box-shadow: 5px 5px #24416E !important;
        margin: 0;
        position: absolute;
        //top: 50%;
        left: 50%;
        //-ms-transform: translate(-50%, -50%);
        transform: translate(-50%, 0%);
    }

    p {
        text-align: center;
        margin: 10px 0px;
        font-weight: 800;
    }
    @media screen and (max-width: 768px) {
        
        h2 {
            font-size: 2.5em;
        }

        h3 {
            font-size: 1.5em !important;
        }

        h4 {
            text-align: left;
            font-size: 1.4em !important;
        }
        h5 {
            text-align: left;
            font-size: 1.2em !important;
           overflow: hidden;
        }
        p {
            margin: 15px 0px;
        }
        #habbotlogo {
            width: 60px;
        }
        #habbotlogo2 {
            display: block;
            margin-left: auto;
            margin-right: auto;

            width: 150px;
        }
        & > form {
            background: #004084;
            padding: 10px 10px 10px 10px;
            margin-top: 40px;
            border-radius: 50px;
            text-align: left;
        }

    }

    input::placeholder {
        color: #004084;
    }   

    .rs-form-group {
        margin-bottom: 10px;
    }

    input, .rs-picker-select {
        border-radius: 100px;
        border: 1px solid rgb(97, 97, 99);
        background: white;
        padding: 15px 15px;
        color: #004084;
    }

    .rs-picker-select {
        padding: 7px 15px;
    }

    .rs-picker-select a,
    .rs-picker-select a span {
        background-color: transparent !important;
        border-color: transparent !important;
        color: #004084;
    }

    button {
        cursor: pointer;
        padding: 15px 20px;
        border-radius: 50px;
        width: 250px;
        background: white !important;
        color: #004084 !important;
        font-family: "Montserrat";
        text-decoration: none;
        border: none;
        font-weight: bold !important;
        margin-bottom: 10px;
        max-width: 100%;
        box-shadow: 5px 5px #004084 !important;
    }

    .thanks-register {
        text-align: center;
        color: #004084;
    }

    .rs-list {
        box-shadow: none;
        -webkit-box-shadow: none;
    }
    
    .rs-list-item {
        box-shadow: none;
        -webkit-box-shadow: none;
        background: transparent;
        color: #FFFFFF;
        text-align: center;
    }

    .button-thanks {
        margin: auto;
        margin-top: 20px;
    }

}


.react-add-to-calendar__button {
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: 75px;
    padding: 15px 0px;
    border-radius: 50px;
    width: 100%;
    max-width: 250px;
    background: white;
    color: #004084;
    font-family: "ProximaNova";
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    background: white !important;
    box-shadow: 5px 5px #24416E !important;


    & span {
        text-align: center;
    }
}



.react-add-to-calendar__dropdown {
    

    ul {
        list-style: none;
        padding: 0px;
        margin-top: 10px;
    }

    li {
        background: white;
        padding: 10px 20px;
        border: 1px solid transparent;
        height: auto;
        width: 100%;
        max-width: 250px;
        border-radius: 50px;
        margin: 5px 75px 0px auto;
        text-align: center;
    }

    li a {
        text-decoration: none;
        color: black;
    }

    li:hover {
        background: rgb(97, 97, 99);
    }

}