@import 'loaders.css/src/animations/line-scale.scss';

#webinar-layout {

    * {
        font-family: 'Montserrat', sans-serif;
    }

    & {
        position: relative;

        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .with-header {
        margin-top: 50px;
    }

    .rs-navbar {

        & {
            background: transparent;
            position: absolute;
            width: 100%;
            top: 17px;
        }

        .logo {

            & {
                padding-left: 10px;
            }

            img {
                height: 100%;
            }

            @media screen and (max-width: 992px) {
                
                img {
                    max-width: 40vw;
                    object-fit: contain;
                }
              
            }

        }

        .exit-event a {
            
            & {
                background: transparent;
                color: white;
                font-weight: 700;
            }

            &:hover {
                background-color: transparent;
                opacity: 0.8;
            }
        }

    }
    @media screen and (max-width: 992px) {
                
        .rs-navbar {

            & {
                background: transparent;
                position: absolute;
                width: 100%;
                top: -20px;
            }
        }
    }

    .webinar-content {
        // background-image: url('../assets/main-background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        min-height: 75vh;
        position: relative;
        top: -50px;
        padding-bottom: 0px;
    }
    @media screen and (max-width: 768px) {
        .webinar-content {
            // background-image: url('../assets/main-background.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            min-height: 100vh;
            padding-top: 165px;
            padding-bottom: 150px;
        }
    }
    .closer-footer::before {
        /*content: "";
        position: absolute;
        background-image: url(../assets/footer-bg.png);
        background-size: cover;
        width: 100%;
        height: 100px;
        top: -100px;
        left: 0;*/
    }
    
    .closer-footer {
        position: absolute;
        background: transparent;
        height: 70px;
        text-align: center;
        bottom: -20px;
        width: 100%;
        color: rgba(255,255,255,0.8);
    }


}


#default-layout {

    * {
        font-family: 'Poppins', sans-serif;
    }

    .rs-navbar {

        & {
            background: white;
        }

        .logo {

            & {
                padding-left: 10px;
            }

            img {
                height: 100%;
            }

        }

        .exit-event a {
            
            & {
                background: $main-color;
                color: white;
                font-weight: 700;
            }

            &:hover {
                background-color: $main-color;
                opacity: 0.8;
            }
        }

    }

    .webinar-content {
        background-color: #dddddd;
        min-height: calc(100vh);
        padding-bottom: 150px;
    }

    .closer-footer::before {
        content: "";
        position: absolute;
        background-image: url(../assets/footer-bg.png);
        background-size: cover;
        width: 100%;
        height: 100px;
        top: -100px;
        left: 0;
    }
    
    .closer-footer {
        position: relative;
        background: #f7f7f7;
        position: relative;
        height: 70px;
        padding-top: 10px;
        text-align: center;
    }
   

}



$primary-color: $main-color;
// How you import this will depend heavily on your build setup
// If using webpack though, `~` refers to node_modules
// @import '~loaders.css/src/animations/line-scale.scss'

.loader-hidden {
  display: none;
}
.loader-active {

  display: block;
}

.loader-inner {
    text-align: center;
}

.loader-inner div {
    background-color: white;
}

.connecting-loader {
    text-align: center;
    margin-top: 10px;
    color: white;
}

.webinar-banner {
    width: 100%;
}

.register-container.policies {

    & {
        text-align: center;
        z-index: 999;
        margin-top: 20px;
        margin-bottom: 20px;
        max-width: 100%;
    }

    .maintext {
        font-family: "ProximaNova";
        font-weight: 700;
        font-size: 60px;
        color: white;
        margin: 0;
    }

    .policies-container {

        & {
            position: relative;
            background-color: rgba(0, 72, 176, 0.36);
            width: 630px;
            margin: auto;
            border-radius: 30px;
            margin-top: 20px;
            max-width: 100%;
        }

        & > div {
            padding: 25px 50px;
        }

        p {
            position: relative;
            color: white !important;
            font-family: "Montserrat" !important;
            line-height: 20px;
            text-align: justify;
        }

        h1 {
            color: white;
            font-family: "ProximaNova";
            text-align: left;
        }

        p {

            li {
                height: auto;
                line-height: 25px;
                list-style: disc;
            }

            li:hover {
                background: transparent;
                color: white;
            }

            table td, table th {
                border: 1px solid white;
                padding: 5px;
            }

            table {
                border-collapse: collapse;
            }

            a {
                position: relative;
                text-align: center;
                margin: auto;
                display: block;
                color: white;
                margin-bottom: 35px;
            }

        }

    }

    input#email {
        border-radius: 50px;
        padding: 15px 20px;
        border: none;
        background: rgba(255,255,255,0.2);
        width: 650px;
        margin-top: 15px;
        font-size: 24px;
        color: white;
        font-family: "ProximaNova";
        font-weight: 400;
        text-align: center;
    }

    .btn-primary#acceptpolicy {
        position: relative;
        display: block;
        width: 300px;
        cursor: pointer;
        padding: 15px 20px;
        border-radius: 50px;
        width: 300px;
        max-width: 100%;
        background: linear-gradient(90deg,white, #b4b9d9) !important;
        color: #001b4b !important;
        font-family: "Montserrat";
        font-weight: 400;
        text-decoration: none;
        border: none;
        font-weight: 400 !important;
        margin: auto;
        margin-bottom: 10px;
        top: -30px;
    }

}